<button class="btn btn-default" ng-click="main.showMainPage()">Zurück zur Hauptseite</button>

<h1>Artikelliste</h1>
<div class="panel panel-default">
    <div class="panel-heading">Artikel in Array</div>
    <div class="panel-body">
        <ul ng-repeat="item in main.items" class="list-group">
            <li class="list-group-item">{{item}}</li>
        </ul>
        <div class="input-group">
         <span class="input-group-addon">
            <span class="glyphicon glyphicon-plus"></span>
        </span>
            <input type="text" class="form-control" placeholder="neuen Artikel hinzufügen" ng-model="main.newItem">
        </div>
        <button class="btn btn-default pull-right" ng-click="main.addItem(main.newItem)">hinzufügen</button>
    </div>
</div>