<h1>{{main.title}}</h1>
<div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
    <input type="text" class="form-control" ng-model="main.searchInput">
</div>
<p>{{main.searchInput}}</p>
<button ng-click="main.showItemsPage()" class="btn btn-default pull-right">ArtikelSeite</button>